{% extends 'layouts.html' %}

{%block title%}
<title>{{product.product_name}}</title>
{% endblock %}
{% block main_content %}
{% include 'userpage/header.html' %}

<div class="container">
    <div class="d-flex my-3 justify-content-between align-items-center ">
        <div class="col-md-4">
            <img src="/{{product.prooduct_image}}" alt="{{product.product.image}}" width="500">
        </div>
        <div class="col-md-6">
            <h2 class="text-center">{{product.product_name}}</h2>
            <h3 class="text-center ">RS{{product.product_price}}</h3>
            <h3 class="text-center ">Available Quantity:{{product.stock}}</h3>
            <p  class="text-center "><strong>Categor:{{product.category.category_name}}y</strong></p>
            <p class="text-center text-muted">
                {{product.product_description}}
            </p>
            <div class="my-2">
                <center><a href="/addtocart/{{product.id}}" class="btn btn-warning ">Add To Cart </a></center>
            </div>
        </div>
    </div>
</div>

{% include 'userpage/footer.html' %}
{% endblock %}

