{% extends 'layouts.html' %}

{%block title%}
<title>Products</title>
{% endblock %}
{% load static %}

{% block main_content %}
{% include 'userpage/header.html' %}
<div class="container-fluid mt-2 ">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for p in products %}
        <div class="col">
          <div class="card">
            <img src="/{{p.prooduct_image}}" class="card-img-top" alt="{{p.product_name}}">
            <div class="card-body">
              <h5 class="card-title">{{p.product_name}}</h5>
              <h5>RS{{p.product_price}}</h5>
              <a href="/productdetails/{{p.id}}" class="btn btn-success ">View Details</a>

            </div>
          </div>
        </div>
        {% endfor %}
    </div>
    
      </div>

     
</div>


{% include 'userpage/footer.html' %}



{% endblock %}