{% extends 'admins/adminlayout.html' %}
{%block title%}
<title>Add Category</title>
{% endblock %}

{% load crispy_forms_tags %}

{% block main_content %}
<div class="container mt-3">
    <div class="row d-flex justify-content-center">
        <div class="col-md-5">
            {% for msg in messages %}
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success">
                {{msg}}
            </div>

            {% endif %}
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger ">
                {{msg}}
            </div>

            {% endif %}
            {% endfor %}
            <form action="" method="post" class="shadow p-3">
                {% csrf_token %}
                {{forms | crispy}}
                <div class="my-2">
                    <input type="submit" value="Add" class="btn btn-primary ">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}